.root label {
  font-size: 12px;
  font-weight: 500;
}

.root input:not([type="checkbox"]) {
  min-width: 0;
  min-height: 40px;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--input-bg);
  font-size: 12px;
}

.root input:not([type="checkbox"]):not([aria-invalid="true"]) {
  border-color: var(--brand-color);
}

.root div:has(> input#cs-mobile) {
  min-height: 40px;
  border-radius: 5px;
  border-color: var(--brand-color);
  background-color: var(--input-bg);
}

.root div:has(> input#cs-mobile[aria-invalid="true"]) {
  border-color: var(--danger);
}

.root input[type="checkbox"] {
  accent-color: var(--brand-color);
}
